/*-----------------
  Pricing Plan Page
-----------------------*/

.title-sec {
    margin-bottom: 10px;
  }
  .title-sec h5 {
    font-weight: 700;
    font-size: 18px;
    color: #f66962;
    margin-bottom: 18px;
  }
  .title-sec h2 {
    font-weight: 700;
    font-size: 36px;
    color: #0b0b0b;
    margin-bottom: 18px;
  }
  .title-sec p {
    font-weight: 500;
    color: #685f78;
    padding-bottom: 10px;
  }
  .plan-box {
    background: #ffffff;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    border: 1px solid #e9ecef;
  }
  .plan-box:hover {
    background: #ffff;
    border-color: #8447ff;
  }
  .plan-box h4 {
    color: #8447ff;
    margin-bottom: 16px;
    font-weight: 700;
  }
  .plan-box p {
    color: #685f78;
    font-size: 14px;
    margin-bottom: 16px;
  }
  .plan-box p:last-child {
    margin-bottom: 0;
  }
  .plan-box h3 {
    font-size: 36px;
    display: inline-flex;
  }
  .plan-box h3 span {
    font-size: 16px;
    position: relative;
    top: 7px;
  }
  .benefit-box {
    background: #ffffff;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
    border: 1px solid #e9ecef;
  }
  .benefit-box h5 {
    font-size: 18px;
    color: #0b0b0b;
    margin-bottom: 20px;
  }
  .benefit-box a {
    padding: 9px;
    font-weight: 700;
    font-size: 20px;
  }
  .benefit-box ul {
    padding-left: 15px;
    margin-bottom: 40px;
  }
  .benefit-box ul li {
    font-size: 14px;
    color: #685f78;
    margin-bottom: 10px;
  }
  .table > :not(:first-child) {
    border-top: 0;
  }
  .table-price tr {
    border-color: #ffdeda;
  }
  .table-price thead tr {
    border-color: transparent;
  }
  .table-price tr.basic-cell {
    border-left: 1px solid transparent;
  }
  .table-price td {
    font-size: 18px;
    font-weight: 500;
    color: #685f78;
  }
  .table-price .self-cell {
    background: #ff5364;
    color: #fff;
  }
  .table-price .business-cell {
    background: #392c7d;
    color: #fff;
  }
  .enable-item {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin-bottom: 5px;
  }
  .enable-item .check-on .form-check-input {
    min-height: 28px;
    width: 53px;
  }
  .main-title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 40px;
  }
  .price-sec {
    margin-bottom: 70px;
  }
  .price-box {
    background: #ffffff;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 25px;
    border: 1px solid #e9ecef;
  }
  .price-box h4 {
    color: #ff5364;
    margin-bottom: 16px;
    font-weight: 700;
  }
  .price-box p {
    color: #685f78;
    font-size: 14px;
    margin-bottom: 20px;
  }
  .price-box h3 {
    font-size: 36px;
    display: inline-flex;
    margin-bottom: 20px;
  }
  .price-box h3 span {
    font-size: 16px;
    position: relative;
    top: 7px;
  }
  .price-box h5 {
    font-size: 18px;
    color: #0b0b0b;
    margin-bottom: 30px;
  }
  .btn-free {
    padding: 12px;
    font-weight: 700;
    background: #ffffff;
    border: 1px solid #f66962;
    border-radius: 5px;
    color: #f66962;
    transition: 0.7s;
  }
  .price-box ul {
    padding-left: 15px;
    margin-bottom: 40px;
  }
  .price-box ul li {
    font-size: 14px;
    color: #685f78;
    margin-bottom: 10px;
  }
  .price-box:hover .btn-free {
    border: 1px solid #f66962;
    background: #f66962;
    color: #fff;
  }
  .recom-badge {
    background: #392c7d;
    border-radius: 5px;
    padding: 4px;
    font-size: 14px;
    color: #ffffff;
    display: inline-block;
  }
  

/*-----------------
   Ceckout
-----------------------*/

.checkout-form {
  padding: 20px;
}
.checkout-form label {
  color: #685f78;
  font-weight: 600;
  font-size: 16px;
}
.checkout-form .form-control,
.checkout-form .form-select {
  border-radius: 5px;
  min-height: 44px;
}
.checkout-form .form-control:focus {
  border: 1px solid #eb9481;
}
.checkout-form .input-block {
  margin-bottom: 20px;
}
.checkout-form .form-select:focus {
  box-shadow: none;
}
.checkout-form .form-control::placeholder {
  font-size: 14px;
  color: #a2a2a2;
}
.checkout-widget .student-widget-group {
  padding: 0;
}
.ship-check .form-check-input {
  border-radius: 0;
  border-color: #ffdeda;
  margin-right: 10px;
  font-size: 20px;
  margin-top: 0;
}
.ship-check {
  font-size: 14px;
  margin-bottom: 15px;
}
.pay-method {
  margin-top: 40px;
}
.payment-btn .btn-primary {
  background: #d4fff162;
  border: 3px solid #37ffc0;
  color: #019466;
  padding: 12px 15px;
  font-size: 16px;
  font-weight: 700;
  min-width: 600px;
}
.payment-btn .btn-primary:hover {
  background: #8710D8;
  border: 3px solid #A435F0;
  color: #ffffff;
}
.select-plan-group .student-widget-group {
  padding: 20px;
}
.plan-header {
  background: #392c7d;
}
.plan-header h4 {
  font-size: 24px;
  color: #fff;
  text-align: center;
  padding: 15px 15px;
  margin-bottom: 0;
}
.basic-plan h3 {
  font-size: 24px;
  color: #ff5364;
  margin-bottom: 15px;
}
.basic-plan h2 {
  font-size: 36px;
  color: #392c7d;
  font-weight: 700;
  margin-bottom: 0;
}
.basic-plan h2 span {
  font-size: 18px;
}
.basic-plan p {
  font-size: 14px;
  margin-bottom: 15px;
}
.plan-header {
  margin-bottom: 20px;
}
.benifits-feature ul {
  padding: 0;
  margin: 0;
}
.benifits-feature ul li {
  list-style: none;
}
.wallet-method .custom_radio {
  color: #555;
  display: inline-flex;
  align-items: center;
  position: relative;
  font-size: 14px;
  padding-left: 30px;
  margin-bottom: 10px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.wallet-method .custom_radio .checkmark {
  height: 25px;
  width: 25px;
}
.wallet-method .custom_radio .checkmark {
  position: absolute;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 1px solid #ffe6e1;
  border-radius: 50%;
}
.wallet-method .custom_radio input {
  position: absolute;
  opacity: 0;
}
.wallet-method .custom_radio input:checked ~ .checkmark:after {
  opacity: 1;
}
.wallet-method .custom_radio .checkmark:after {
  display: block;
  content: "";
  position: absolute;
  opacity: 0;
  top: 4px;
  left: 4px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #6c42e2;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.wallet-method {
  margin: 10px 0px;
}
.benifits-feature {
  margin: 30px 0px;
}
.benifits-feature h3 {
  font-size: 18px;
  color: #000;
  font-weight: 700;
  margin-bottom: 30px;
}
.benifits-feature ul li {
  font-size: 14px;
  color: #685f78;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 15px;
}
.benifits-feature ul li i {
  font-size: 7px;
  margin-right: 10px;
}
.plan-change .btn-primary {
  font-size: 16px;
  font-weight: 700;
  color: #392c7d;
  background: #fff;
  border: 1px solid #392c7d;
  border-radius: 0px;
  width: 100%;
  padding: 12px 15px;
}
.plan-change .btn-primary:hover {
  background: #8710D8;
  border-color: #A435F0;
  color: #fff;
}
